<h1>About Bascamp!!</h1>
<p>
<b>Before Basecamp:</b> Projects feel scattered, things slip, it’s tough to see where things stand, and people are stressed. 
<b>After Basecamp:</b> Everything’s organized in one place, you’re on top of things, progress is clear, and a sense of calm sets in.
</p>
